.App {
  margin: 0 50px;
}

.logo {
  height: 100px;
  text-align: left;
}

.titleContainer {
  display: flex;
  flex-direction: row;
}

.listTitle {
  padding-top:5px;
}
.showTitle {
  padding: 10px 20px;
}