.App {
  background-color: black;
  color: white;
}

.logo {
  height: 100px;
}

.titleContainer {
  display: flex;
  flex-direction: row;
}

.listTitle {
  padding-top:5px;
}
.showTitle {
  padding: 10px 20px;
}